* {
  font-size: 12px;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;

}

#autocomplete {
  border: 1px solid silver;
  outline: none;
  margin: 0;
  background: #fff;
}

#autocomplete_result {
  border: 1px solid silver;
  border-top: 0;
  position: absolute;
  overflow: auto;
  max-height: 93px;
  background: #fff;
}

#autocomplete, #autocomplete_result {
  width: 200px;
  box-sizing: border-box;
}

#autocomplete, #autocomplete_result p {
  padding: 4px;
  margin: 0;
  color: #000;
}

#autocomplete_result p:hover {
  background: #e5e5e5;
}

.right {
  float: right;
}